.bg {
  background-image: url("/images/Waves.png");
  background-repeat:  no-repeat;
  background-position: left bottom;
  background-size: 80% 80%;
}

.red strong {
  @apply text-red font-semibold;
}

._left_5 {
  left: -5%;
}

.top_40 {
  top: 40%;
}

.top_60 {
  top: 60%;
}

.top_55 {
  top: 55%;
}

.top_65 {
  top: 65%;
}

.left_10 {
  left: 10%;
}

.right_10 {
  right: 10%;
}
