.bg {
  background-image: url("/images/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -1.7%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .bg {
    margin-top: -2%;
  }
}

@media screen and (max-width: 767px) {
  .bg {
    margin-top: -5%;
  }
}
