@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

.main-wrapper {
  background: linear-gradient(305.47deg, #e14551 46.87%, #ff75b7 129.51%);
}

.backdrop {
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(55px);
}

.red strong {
  @apply font-medium text-red;
}
